[submodule "libraries/Adafruit_NeoPixel"]
	path = libraries/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "libraries/pubsubclient"]
	path = libraries/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "ESP8266NeoPixel"]
	path = ESP8266NeoPixel
	url = git@github.com:xkonni/ESP8266NeoPixel.git
[submodule "libraries/rc-switch"]
	path = libraries/rc-switch
	url = https://github.com/sui77/rc-switch.git
[submodule "ESP8266PowerSwitch"]
	path = ESP8266PowerSwitch
	url = git@github.com:xkonni/ESP8266PowerSwitch.git
[submodule "libraries/DHT-sensor-library"]
	path = libraries/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "ESP8266DHT"]
	path = ESP8266DHT
	url = git@github.com:xkonni/ESP8266DHT.git
[submodule "DerMondEinStroboskop"]
	path = DerMondEinStroboskop
	url = git@github.com:xkonni/arduino_mond
